@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

.App {
    text-align: center;
}

nav a {
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #000000;
    transition: color 0.5s;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: linear-gradient(to top, #3182ce, transparent);
    transition: height 0.5s;
}
nav a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to top, #3182ce 30%, transparent);
    transition: height 0.5s;
}

nav a:hover::before {
    height: 40px;
}

nav a.active {
    font-weight: 700;
}

.odd-row {
    background-color: #ffffff;
}

.even-row {
    background-color: rgb(208, 208, 208);
}

.table-bordered {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

.player-col {
    border-right: 1px solid #000000;
}

.team-col {
    border-right: 1px solid #000000;
    width: 15%;
}

/* Add these styles to your CSS */
/* .sorted-odd {
   background-color: #593986;
}

.sorted-even {
   background-color: #49c345;
} */
